<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/thumb1.png">
      <div class="caption">
        <h3>Bladeform Legacy</h3>
        <p class="description">Yurnero’s mask has been cleaved in two, awakening the ancient souls that once laid dormant inside it.</p>
        <div class="clearfix">
        	<div class="price pull-left">$499</div>
        	<a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/thumb1.png">
      <div class="caption">
        <h3>Bladeform Legacy</h3>
        <p class="description">Yurnero’s mask has been cleaved in two, awakening the ancient souls that once laid dormant inside it.</p>
        <div class="clearfix">
        	<div class="price pull-left">$499</div>
        	<a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/thumb1.png">
      <div class="caption">
        <h3>Bladeform Legacy</h3>
        <p class="description">Yurnero’s mask has been cleaved in two, awakening the ancient souls that once laid dormant inside it.</p>
        <div class="clearfix">
        	<div class="price pull-left">$499</div>
        	<a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/thumb1.png">
      <div class="caption">
        <h3>Bladeform Legacy</h3>
        <p class="description">Yurnero’s mask has been cleaved in two, awakening the ancient souls that once laid dormant inside it.</p>
        <div class="clearfix">
        	<div class="price pull-left">$499</div>
        	<a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/thumb1.png">
      <div class="caption">
        <h3>Bladeform Legacy</h3>
        <p class="description">Yurnero’s mask has been cleaved in two, awakening the ancient souls that once laid dormant inside it.</p>
        <div class="clearfix">
        	<div class="price pull-left">$499</div>
        	<a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/thumb1.png">
      <div class="caption">
        <h3>Bladeform Legacy</h3>
        <p class="description">Yurnero’s mask has been cleaved in two, awakening the ancient souls that once laid dormant inside it.</p>
        <div class="clearfix">
        	<div class="price pull-left">$499</div>
        	<a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>